<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>LINCOLN</h2>
          <p>a excepturi sapiente, quos  dolor, sit amet consectetur adipisicing elit. Minus dolores molestias libero quas deserunt voluptas expedita quos odit vitae tenetur at natus excepturi earum, aspernatur neque iure sapiente unde illum?</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Information</h5>
          <p>KOCHI, INDIA</p>
          <p>Phone: +1234567890</p>
        </div>
      </div>
    </div>
  </footer>